{% extends 'base.html'%}
{% load static %}
{% block content %}
{% load static %}

    <!-- Heade for authenticated user-->
    {% if user.is_authenticated %}
    <header class="bg-dark py-5">
        <div class="container px-5">
            <div class="row gx-5 align-items-center justify-content-center">
                <div class="col-lg-8 col-xl-7 col-xxl-6">
                    <div class="my-5 text-center text-xl-start">
                        <h1 class="display-5 fw-bolder text-white mb-2">Kidney Health Tracker</h1>
                        <p class="lead fw-normal text-white-50 mb-4">Have you entered your daily food intake? Start entering below</p>
                        <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                            <a class="btn btn-primary btn-lg px-4 me-sm-3" href="{% url 'tracker' %}">Today's Meals</a>
                            <a class="btn btn-outline-light btn-lg px-4" href="{% url 'serum_levels' %}">View Serum Levels</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" src="{% static 'img/fitnessfood.jpg' %}" alt="background image of food" /></div>
            </div>
        </div>        
    </header>

    <!-- Heade for non user-->
    {% else %}       
    <header class="bg-dark py-5">
        <div class="container px-5">
            <div class="row gx-5 align-items-center justify-content-center">
                <div class="col-lg-8 col-xl-7 col-xxl-6">
                    <div class="my-5 text-center text-xl-start">
                        <h1 class="display-5 fw-bolder text-white mb-2">Kidney Daily Intake Eating Tracker</h1>
                        <p class="lead fw-normal text-white-50 mb-4">Kdiet provides a way for those with Kidney Disease to input their food intake and receive recommendations to stay healthy</p>
                        <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                            <a class="btn btn-primary btn-lg px-4 me-sm-3" href="{% url 'register' %}">Register</a>
                            <a class="btn btn-outline-light btn-lg px-4" href="{% url 'login' %}">Login</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" src="{% static 'img/healthyfood.jpg' %}" alt="background image of doctor" /></div>
            </div>
        </div>        
    </header>
    {% endif %}
    <!-- Testimonial section-->
    {% if user.is_authenticated %}
    {% else %}       

    <div class="py-5 bg-light">
        <div class="container px-5 my-5">
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-10 col-xl-7">
                    <div class="text-center">
                        <div class="fs-4 mb-4 fst-italic">"Working with this app has improved my health and moral! Using the tracker just makes things easier!"</div>
                        <div class="d-flex align-items-center justify-content-center">
                            <img class="rounded-circle me-3" src="{% static 'img/joe40.jpg' %}" alt="profile picture" />
                            <div class="fw-bold">
                                John Doe
                                <span class="fw-bold text-primary mx-1">/</span>
                                CKD Stage 4
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <!-- Blog preview section-->
    <section class="py-5">
        <div class="container px-5 my-5">
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-8 col-xl-6">
                    <div class="text-center">
                        <h2 class="fw-bolder">From our blog</h2>
                        <p class="lead fw-normal text-muted mb-5">The place for connection and inclusion.</p>
                    </div>
                </div>
            </div>
            <div class="row gx-5">
                <div class="col-lg-4 mb-5">
                    <div class="card h-100 shadow border-0">

                        <!-- this is where Ellie left off. Standardizing image size, put into img folder, then link -->
                        <img class="card-img-top" src="{% static 'img/pasta.jpg' %}" alt="Mediterranean Spaghetti Squash" />
                        <div class="card-body p-4">
                            <div class="badge bg-primary bg-gradient rounded-pill mb-2">Recipes</div>
                            <a class="text-decoration-none link-dark stretched-link" href="#!"><h5 class="card-title mb-3">Mediterranean Spaghetti Sqash</h5></a>
                            <p class="card-text mb-0">Diet Types: CKD non-dialysis, Diabetes, Dialysis, Vegetarian, Higher Potassium, Lower Protein, Gluten-Free</p>
                        </div>
                        <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                            <div class="d-flex align-items-end justify-content-between">
                                <div class="d-flex align-items-center">
                                    <div class="small">
                                        <div class="fw-bold">DaVita</div>
                                        <div class="text-muted">November 12, 2022 &middot; 6 min read</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-5">
                    <div class="card h-100 shadow border-0">
                        <img class="card-img-top" src="https://miro.medium.com/max/1400/0*iX9g4HsvbDL4HMMh" alt="Sunrise Walk" />
                        <div class="card-body p-4">
                            <div class="badge bg-primary bg-gradient rounded-pill mb-2">Post</div>
                            <a class="text-decoration-none link-dark stretched-link" href="#!"><h5 class="card-title mb-3">Benefits of a morning walk</h5></a>
                            <p class="card-text mb-0">5 weeks ago I started taking a 20 minute walk each morning. 5 weeks ago I started improving in my mood, work ethic, and intrinsic motivation.</p>
                        </div>
                        <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                            <div class="d-flex align-items-end justify-content-between">
                                <div class="d-flex align-items-center">
                                    <div class="small">
                                        <div class="fw-bold">Jane Deere</div>
                                        <div class="text-muted">November 23, 2022 &middot; 4 min read</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-5">
                    <div class="card h-100 shadow border-0">
                        <img class="card-img-top" src="https://healthblog.uofmhealth.org/sites/consumer/files/2016-12/UMh_C-FLEECTY-01%402x_0.jpg" alt="Michigan Medicine Blanket Tying" />
                        <div class="card-body p-4">
                            <div class="badge bg-primary bg-gradient rounded-pill mb-2">Activity</div>
                            <a class="text-decoration-none link-dark stretched-link" href="#!"><h5 class="card-title mb-3">Service Project</h5></a>
                            <p class="card-text mb-0">This Friday night we are gathering at the Provo Library to make cards and tie blankets for people in the hospital. Come if you can! Bring your family too!</p>
                        </div>
                        <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                            <div class="d-flex align-items-end justify-content-between">
                                <div class="d-flex align-items-center">
                                    <div class="small">
                                        <div class="fw-bold">Mary Lamb</div>
                                        <div class="text-muted">November 29, 2022 &middot; 10 min read</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Call to action-->
            <aside class="bg-primary bg-gradient rounded-3 p-4 p-sm-5 mt-5">
                <div class="d-flex align-items-center justify-content-between flex-column flex-xl-row text-center text-xl-start">
                    <div class="mb-4 mb-xl-0">
                        <div class="fs-3 fw-bold text-white">New recipes, announcements, and activities, delivered to you.</div>
                        <div class="text-white-50">Sign up for our newsletter for the latest updates.</div>
                    </div>
                    <div class="ms-xl-4">
                        <div class="input-group mb-2">
                            <input class="form-control" type="text" placeholder="Email address..." aria-label="Email address..." aria-describedby="button-newsletter" />
                            <button class="btn btn-outline-light" id="button-newsletter" type="button">Sign up</button>
                        </div>
                        <div class="small text-white-50">We care about privacy, and will never share your data.</div>
                    </div>
                </div>
            </aside>
        </div>
    </section>
</main>
{% endblock %}
<!-- Footer-->
