{% comment %} {% if messages %}
<ul class="alert">
    {% for message in messages %}
    <h5 {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h5>
    {% endfor %}
</ul>
{% endif %} {% endcomment %}
{% comment %} 
{% for message in messages %}
<div class="container-fluid p-0">
  <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
    <button type="button" class="btn" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="True" >&times;</span>
    </button>
    {{ message }}
  </div>
</div>
{% endfor %} {% endcomment %}


{% for message in messages %}
<div class="container-fluid p-0">
  <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
    <button type="button" class="closebtn" data-dismiss="alert" aria-label="Close">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    </button>
    {{ message }}
  </div>
</div>
{% endfor %}